<h1>welcome to Bookers !!</h1>
<h3>In Bookers,</h3>

<p>you can share and exchange your opinions , inpressions , and emotions

about various books!</p>


<%=link_to "Log_in", new_user_session_path %>
<br>
<%=link_to "Sign_up",new_user_registration_path %>
