<div class="container">
	<div class="row1">
<h1>welcome to <span class="glyphicon glyphicon-book"></span> <strong>Bookers</strong>!!</h1>

<div>In<span class="glyphicon glyphicon-book"></span><strong>Bookers,</strong></div>

<div>you can share and exchange your opinions , inpressions , and emotions<br>
about various books!</div>
</div>


	<div class="row2">
	<%=link_to "Log_in", new_user_session_path %>
	<br>
    </div>
    <div class="row3">
	<%=link_to "Sign_up",new_user_registration_path %>
    </div>
</div>

